* {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.app_navbar {
    padding:5px;
    text-align: center;
    position: fixed top;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.home_route{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

