.changeMonth {
    margin: 0px 20px;
  }
  
  .header {
    display: flex;
    align-items: center;
  }

  svg.navIcon {
    background-color: pink;
  }
  
  .currentMonth {
    margin-left: 24px;
    font-size: 24px;
  }
  
  .weekContainer {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .day {
    margin: 12px;
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  .weekNames {
    color: #9e9e9e;
    cursor: default;
  }
  
  .inactiveDay {
    color: #9e9e9e;
  }
  .today {
    background: #efefee;
    border-radius: 50%;
  }
  
  .selectedDay {
    color: white;
    background: maroon;
    border-radius: 50%;
  }
  
  .navIcon {
    width: 20px;
    height: 20px;
    padding: 8px;
    cursor: pointer;
    background-color: #ffffff;
  }
  
  .navIcon:hover {
    border-radius: 50%;
    background: #696967;
  }
  
  .todayButton {
    border: 1px solid #030000;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 8px;
  }
  
  .todayButton:hover {
    background: #efefef;
  }
